<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container text-center">
<div class="row">
  <div class="col-xs-6  text-center">
  <form action="/answer"">
    <h2>Speak to your coach</h2>
    <input type="text" id="question" name="query" placeholder="what time is it?" class="form-control input-sm">
    <br>
    <input type="submit" value="Go on!" class="btn btn-primary">
  </form>
  </div>
</div>
</div>


</body>
</html>
